<!doctype html>
<html>
  <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <title>Test Payment for AliPay</title>
      <style>
          @import url(https://fonts.googleapis.com/css?family=Roboto+Slab);
          * {
          /* With these codes padding and border does not increase it's width and gives intuitive style.*/

          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          }
          body {
          margin:0;
          padding:0;
          font-family: 'Roboto Slab', serif;
          }
          div#envelope{
          width: 55%;
          margin: 10px 30% 10px 25%;
          padding:10px 0;
          border: 2px solid gray;
          border-radius:10px;
          }
          form{
          width:70%;
          margin:4% 15%;
          }
          header{
          background-color: #4180C5;
          text-align: center;
          padding-top: 12px;
          padding-bottom: 8px;
          margin-top: -11px;
          margin-bottom: 8px;
          border-radius: 10px 10px 0 0;
          color: aliceblue;
          }

          /* Makes responsive fields. Sets size and field alignment.*/
          input[type=text]{
          margin-bottom: 20px;
          margin-top: 10px;
          width:100%;
          padding: 15px;
          border-radius:5px;
          border:1px solid #7ac9b7;
          }
          input[type=submit]
          {
          margin-bottom: 20px;
          width:100%;
          padding: 15px;
          border-radius:5px;
          border:1px solid #7ac9b7;
          background-color: #4180C5;
          color: aliceblue;
          font-size:15px;
          cursor:pointer;
          }
          #submit:hover
          {
          background-color: black;
          }
          textarea{
          width:100%;
          padding: 15px;
          margin-top: 10px;
          border:1px solid #7ac9b7;
          border-radius:5px;
          margin-bottom: 20px;
          resize:none;
          }
          input[type=text]:focus,textarea:focus {
          border-color: #4697e4;
          }
      </style>
  </head>
  <body>
    <div id="envelope">
      <form name="payForm" class="form-inline" method="post" action="{{payload['url']}}">
          <input type="hidden" name="amountFee" value="{{payload['amountFee']}}">
          <input type="hidden" name="deviceType" value="{{payload['deviceType']}}">
          <input type="hidden" name="version" value="{{payload['version']}}">
          <input type="hidden" name="issuingBank" value="{{payload['issuingBank']}}">
          <input type="hidden" name="payType" value="{{payload['payType']}}">
          <input type="hidden" name="merchantId" value="{{payload['merchantId']}}">
          <input type="hidden" name="notifyUrl" value="{{payload['notifyUrl']}}">
          <input type="hidden" name="signType" value="{{payload['signType']}}">
          <input type="hidden" name="currency" value="{{payload['currency']}}">
          <input type="hidden" name="inputCharset" value="{{payload['inputCharset']}}">
          <input type="hidden" name="goodsTitle" value="{{payload['goodsTitle']}}">
          <input type="hidden" name="merchantTradeId" value="{{payload['merchantTradeId']}}">
          <input type="hidden" name="returnUrl" value="{{payload['returnUrl']}}">
          <input type="hidden" name="cardType" value="{{payload['cardType']}}">
          <input type="hidden" name="sign" value="{{payload['sign']}}">
      </form>
      <button onclick="document.payForm.submit()">Submit</button>
    </div>
  </body>
</html>
