<!doctype html>
<html>
  <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <title>Test Payment for AliPay</title>
      <style>
          @import url(https://fonts.googleapis.com/css?family=Roboto+Slab);
          * {
          /* With these codes padding and border does not increase it's width and gives intuitive style.*/

          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          }
          body {
          margin:0;
          padding:0;
          font-family: 'Roboto Slab', serif;
          }
          div#envelope{
          width: 55%;
          margin: 10px 30% 10px 25%;
          padding:10px 0;
          border: 2px solid gray;
          border-radius:10px;
          }
          form{
          width:70%;
          margin:4% 15%;
          }
          header{
          background-color: #4180C5;
          text-align: center;
          padding-top: 12px;
          padding-bottom: 8px;
          margin-top: -11px;
          margin-bottom: 8px;
          border-radius: 10px 10px 0 0;
          color: aliceblue;
          }

          /* Makes responsive fields. Sets size and field alignment.*/
          input[type=text]{
          margin-bottom: 20px;
          margin-top: 10px;
          width:100%;
          padding: 15px;
          border-radius:5px;
          border:1px solid #7ac9b7;
          }
          input[type=submit]
          {
          margin-bottom: 20px;
          width:100%;
          padding: 15px;
          border-radius:5px;
          border:1px solid #7ac9b7;
          background-color: #4180C5;
          color: aliceblue;
          font-size:15px;
          cursor:pointer;
          }
          #submit:hover
          {
          background-color: black;
          }
          textarea{
          width:100%;
          padding: 15px;
          margin-top: 10px;
          border:1px solid #7ac9b7;
          border-radius:5px;
          margin-bottom: 20px;
          resize:none;
          }
          input[type=text]:focus,textarea:focus {
          border-color: #4697e4;
          }
      </style>
  </head>
  <body>
    <div id="envelope">
    <form target="_blank" method="post" action="">
      <header>
        <h2>Withdraw {{amount}} CNY to:</h2>
      </header>
      <label>开户行</label>
      <input type="text" name="bankname" value="" />
      <label>支行名称</label>
      <input type="text" name="subbranch" value="" />
      <label>开户名</label>
      <input type="text" name="accountname" value="" />
      <label>银行卡号</label>
      <input type="text" name="cardnumber" value="" />
      <label>省</label>
      <input type="text" name="province" value=""  />
      <label>市</label>
      <input type="text" name="city" value=""  />
      <label>必填：联行号</label>
      <input type="text" name="bank_number" value=""   />
      <input type="hidden" name="orderid" value="{{order_id}}" />
      <input id="submit" type="submit" value="Make withdrawal">
    </form>
    </div>
  </body>
</html>
