<!doctype html>
<html>
  <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <title>Test Payment for AliPay</title>
      <style>
          @import url(https://fonts.googleapis.com/css?family=Roboto+Slab);
          * {
          /* With these codes padding and border does not increase it's width and gives intuitive style.*/

          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          }
          body {
          margin:0;
          padding:0;
          font-family: 'Roboto Slab', serif;
          }
          div#envelope{
          width: 55%;
          margin: 10px 30% 10px 25%;
          padding:10px 0;
          border: 2px solid gray;
          border-radius:10px;
          }
          form{
          width:70%;
          margin:4% 15%;
          }
          header{
          background-color: #4180C5;
          text-align: center;
          padding-top: 12px;
          padding-bottom: 8px;
          margin-top: -11px;
          margin-bottom: 8px;
          border-radius: 10px 10px 0 0;
          color: aliceblue;
          }

          /* Makes responsive fields. Sets size and field alignment.*/
          input[type=text]{
          margin-bottom: 20px;
          margin-top: 10px;
          width:100%;
          padding: 15px;
          border-radius:5px;
          border:1px solid #7ac9b7;
          }
          input[type=submit]
          {
          margin-bottom: 20px;
          width:100%;
          padding: 15px;
          border-radius:5px;
          border:1px solid #7ac9b7;
          background-color: #4180C5;
          color: aliceblue;
          font-size:15px;
          cursor:pointer;
          }
          #submit:hover
          {
          background-color: black;
          }
          textarea{
          width:100%;
          padding: 15px;
          margin-top: 10px;
          border:1px solid #7ac9b7;
          border-radius:5px;
          margin-bottom: 20px;
          resize:none;
          }
          input[type=text]:focus,textarea:focus {
          border-color: #4697e4;
          }
      </style>
  </head>
  <body>
    <div id="envelope">
      <form class="form-inline" method="post" action="https://www.kkhpay.com/Pay_Index.html">
          <input type="hidden" name="pay_amount" value="{{payload['pay_amount']}}">
          <input type="hidden" name="pay_applydate" value="{{payload['pay_applydate']}}">
          <input type="hidden" name="pay_bankcode" value="{{payload['pay_bankcode']}}">
          <input type="hidden" name="pay_callbackurl" value="{{payload['pay_callbackurl']}}">
          <input type="hidden" name="pay_memberid" value="{{payload['pay_memberid']}}">
          <input type="hidden" name="pay_notifyurl" value="{{payload['pay_notifyurl']}}">
          <input type="hidden" name="pay_orderid" value="{{payload['pay_orderid']}}">
          <input type="hidden" name="pay_md5sign" value="{{payload['pay_md5sign']}}">
          <input type="hidden" name="pay_productname" value="{{payload['pay_productname']}}">
          <input type="submit" id="submit" value="微信支付(金额：{{payload['pay_amount']}}元)"/>
      </form>
    </div>
  </body>
</html>
