<h1>Withdrawal notification</h1>

<p>Amount: {{amount}}</p>
<p>Account name: {{accountname}}</p>
<p>Bank account: {{cardnumber}}</p>
<p>BVN: {{bvn}}</p>
<p>Address: {{address}}</p>

<i>The withdrawal will be processed in 2 days time</i>
