<!doctype html>
<html>
  <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <title>Test Payment for AliPay</title>
      <style>
          @import url(https://fonts.googleapis.com/css?family=Roboto+Slab);
          * {
          /* With these codes padding and border does not increase it's width and gives intuitive style.*/

          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          }
          body {
          margin:0;
          padding:0;
          font-family: 'Roboto Slab', serif;
          }
          div#envelope{
          width: 55%;
          margin: 10px 30% 10px 25%;
          padding:10px 0;
          border: 2px solid gray;
          border-radius:10px;
          }
          form{
          width:70%;
          margin:4% 15%;
          }
          header{
          background-color: #4180C5;
          text-align: center;
          padding-top: 12px;
          padding-bottom: 8px;
          margin-top: -11px;
          margin-bottom: 8px;
          border-radius: 10px 10px 0 0;
          color: aliceblue;
          }

          /* Makes responsive fields. Sets size and field alignment.*/
          input[type=text]{
          margin-bottom: 20px;
          margin-top: 10px;
          width:100%;
          padding: 15px;
          border-radius:5px;
          border:1px solid #7ac9b7;
          }
          input[type=submit]
          {
          margin-bottom: 20px;
          width:100%;
          padding: 15px;
          border-radius:5px;
          border:1px solid #7ac9b7;
          background-color: #4180C5;
          color: aliceblue;
          font-size:15px;
          cursor:pointer;
          }
          #submit:hover
          {
          background-color: black;
          }
          textarea{
          width:100%;
          padding: 15px;
          margin-top: 10px;
          border:1px solid #7ac9b7;
          border-radius:5px;
          margin-bottom: 20px;
          resize:none;
          }
          input[type=text]:focus,textarea:focus {
          border-color: #4697e4;
          }
      </style>
      <script src="https://js.paystack.co/v1/inline.js"></script>
  </head>
  <body>
    <div id="envelope">
      <form >
      <button type="button" onclick="javascript:window.location.href='{{payload['ret_url']}}'"> Return to the web-site</button>
      </form>

      <script>
        function payWithPaystack(){
          var handler = PaystackPop.setup({
            key: 'pk_live_39b3e00bceb1fb7007700f25f57f46ea718711c1',
            email: '{{payload['uid']}}@telegram.com',
            amount: {{payload['pay_amount']}},
            ref: '{{payload['pay_orderid']}}', // generates a pseudo-unique reference. Please replace with a reference you generated. Or remove the line entirely so our API will generate one for you
            callback: function(response){
                alert('Success. Transaction ref is ' + response.reference)
            }
          })
          handler.openIframe();
        }
        payWithPaystack()
      </script>
    </div>
  </body>
</html>
